Gunicorn
Werkzeug
numpy==1.18.5
pandas
opencv-python
cmake
argparse
scipy
dlib
tensorflow
imutils
tika
wave
nltk
gensim
seaborn
scikit-learn
dill
keras
wordcloud
pandas
argparse
scipy
dlib
tensorflow
imutils